.panelC, .panelJava, .panelPHP, .panelRuby, .panelCSS, .resultDisplay {
  display: none;
}

form {
  width: 500px;
}

p img {
  width: 200px;
  height: auto;
}

h1 .jumbotrop {
  align-content: center;
}

body {
  background-image: url("../img/pattern.png");
}

.resultDisplay {
  background: #f7f8f9;
  margin: 50px;
  width; 90%;
}

.panel-footer.panel-custom {
  background: lightgreen;
  color: white;
}

.top-navbar {
  color: white;
}

.top-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #82adf2;
}

.top-navbar li {
    float: left;
}

.top-navbar li.bar-right {
  float:right;
}

.top-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-navbar li a:hover {
    background-color: gray;
}
