.panelC, .panelJava, .panelPHP, .panelRuby, .panelCSS, .resultDisplay {
  display: none;
}

form {
  width: 500px;
}

p img {
  width: 200px;
  height: auto;
}

h1 .jumbotrop {
  align-content: center;
}

body {
  background-image: url("../img/pattern.png");
}

.resultDisplay {
  background: #f7f8f9;
}

.panel-footer.panel-custom {
  background: lightgreen;
  color: white;
}
