.panelC, .panelJava, .panelPHP, .panelRuby, .panelCSS, .resultDisplay {
  display: none;
}

form {
  width: 500px;
}

p img {
  width: 200px;
  height: auto;
}

h1 .jumbotrop {
  align-content: center;
}

body {
  background-image: url("../img/pattern.png");
  padding-top: 30px;
  padding-bottom: 30px;
}

.resultDisplay {
  background: #f7f8f9;
  margin: 90px;
  width; 90%;
}

h3 {
  font-family: sans-serif;
  font-variant: small-caps;
}

.navbar {
  color: white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #82adf2;
}

.navbar li {
    float: left;
}

.navbar li.bar-right {
  float:right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: gray;
}
